*.7z
*.class
*.class
*.ctxt
*.dmg
*.ear
*.ear
*.gz
*.iml
*.ipr
*.iso
*.iws
*.jar
*.jar
*.log
*.nar
*.rar
*.rar
*.sar
*.swp
*.tar
*.tar.gz
*.war
*.war
*.zip
*.zip
.DS_Store
.classpath
.gradle
.idea/
.mtj.tmp/
.project
.settings/
build
build/
dist/
hs_err_pid*
nb-configuration.xml
nbactions.xml
nbbuild/
nbdist/
nbproject/private/
pom.xml.releaseBackup
pom.xml.tag
release.properties
target/
tomcat
!gradle-wrapper.jar
